html, body {
    margin: 0;
}

body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
    background-color: black;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

section {
    margin: 8px;
    padding: 12px 16px;
    color: white;
    background-color: #222222;
    border: 1px solid white;
    box-shadow: 0 0 12px #ffffff60;
    border-radius: 6px;
}

section.vertical {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    gap: 4px;
}

section.horizontal {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 4px;
}

button {
    margin: 4px 0;
    padding: 2px 4px;
}

#synth-container {
    user-select: none;
}

#synth-keys {
    padding: 2px;
    display: flex;
    align-items: flex-start;
}

.key {
    width: 30px;
    height: 220px;
    background-color: white;
    border: 2px solid black;
    border-top: none;
}

.key ~ .key.black {
    margin: 0 -17px;
}

.key.black {
    height: 140px;
    margin: 0;
    background-color: black;
    border: 2px solid white;
    border-top: none;
}

.synth-controls {
    text-align: center;
    padding: 8px 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 8px;
}

.synth-controls button {
    aspect-ratio: 1;
    border: 1px solid white;
    border-radius: 4px;
    height: 1.5lh;
}

#octave {
    font-size: large;
    font-weight: bold;
}

.envelope-slider {
    max-width: 64px;
}

/* DIALOG */
dialog {
    position: relative;
    color: white;
    background-color: #222222;
    border: 2px solid white;
    border-radius: 8px;
    box-shadow: 0 0 12px black;

    min-width: min(400px, 90vw);
}

dialog .close-dialog {
    position: absolute;
    top: 8px;
    right: 8px;
    font-size: large;
    color: white;
    background: none;
    border: none;
    margin: 0;
    padding: 0;
    cursor: pointer;
}

dialog h2 {
    margin: 0;
}

#wavetable-graph {
    border: 2px solid white;
}
