html, body {
    margin: 0;
}

body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
    background-color: black;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#synth-container {
    margin: 8px;
    padding: 12px 16px;;
    color: white;
    background-color: #222222;
    border: 1px solid white;
    box-shadow: 0 0 12px #ffffff60;
    border-radius: 6px;
    display: flex;
    flex-direction: column;
}

#synth-keys {
    padding: 2px;
    display: flex;
    align-items: flex-start;
}

.key {
    width: 30px;
    height: 220px;
    background-color: white;
    border: 2px solid black;
    border-top: none;
}

.key ~ .key.black {
    margin: 0 -17px;
}

.key.black {
    height: 140px;
    margin: 0;
    background-color: black;
    border: 2px solid white;
    border-top: none;
}

.synth-controls {
    text-align: center;
    padding: 8px 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 8px;
}

.synth-controls button {
    aspect-ratio: 1;
    border: 1px solid white;
    border-radius: 4px;
    height: 1.5lh;
}

#octave {
    font-size: large;
    font-weight: bold;
}

.envelope-slider {
    max-width: 64px;
}
